In [1]:
import pandas as pd
from sklearn.datasets import load_digits

In [2]:
digits = load_digits()

In [4]:
df = pd.DataFrame(digits.data)

In [5]:
df["target"] = digits.target

In [6]:
df.sample(5)

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,target
9,0.0,0.0,11.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,9.0,12.0,13.0,3.0,0.0,0.0,9
952,0.0,0.0,10.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,7.0,16.0,16.0,16.0,16.0,14.0,1
12,0.0,0.0,5.0,12.0,1.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,3.0,11.0,8.0,13.0,12.0,4.0,2
1209,0.0,0.0,3.0,12.0,16.0,13.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,4.0,15.0,0.0,0.0,0.0,0.0,7
1577,0.0,0.0,0.0,12.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,14.0,16.0,15.0,6.0,0.0,6

In [7]:
X  = df.drop(["target"], axis="columns")
y = df.target

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [14]:
len(y_train)

1437

In [25]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=50)
clf.fit(X_train, y_train)

RandomForestClassifier(n_estimators=50)

In [26]:
clf.score(X_test, y_test)

0.9722222222222222